*{
font-family:  "Playfair", serif;
margin: 0px;
padding-left: 8px;
padding-right: 8px;
padding-top: 3px;

}

ul li{
    font-size: 20px;
}



.home{
    background-color: rgb(194, 221, 230);
    padding: 30px 0px 10px 0px;
}
.home h2{
    font-size: 3rem;
    line-height: 4rem;
}
.c-orange{
    color: #2d2248;
    font-weight: 700;
    font-size: 37px;
}
.home p{
    width: fit-content;
    margin-top: 1rem;
    font-size: 1.2rem;
}


.about{
    background-image: url(https://d2oe9fogqkc3hl.cloudfront.net/static/illustrations/category-pages/computer-science.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#cv{
    background-color: orange;
    color: white;
    border: none;
    
}
#cv:hover{
    background-color: rgb(194, 221, 230);
    color: #2d2248;
   
}

.pro{
    background-color: lightyellow;
}
.imga:hover{
    transform: scale(1.1) rotateY(360deg) translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.imga{
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease; 
}

.imgb:hover{
    transform: scale(1.1) rotateY(360deg) translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}
.imgb{
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease;
}

.imgc:hover{
    transform: scale(1.1) rotateY(360deg) translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}
.imgc{
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease;
}


/* Custom styling */
.contact-section {
    margin-top: 50px;
}

.contact-info h5 {
    margin-bottom: 15px;
    color: #ff4500; /* Orange-red color */
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-info i {
    margin-right: 10px;
    color: #ff4500;
}

.social-icons a {
    margin-right: 10px;
    color: #000;
}

.form-section h5 {
    margin-bottom: 20px;
    color: #ff4500;
}


.cont{
    background-image: url(https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg);
}

#square{
    border: 0px solid rgb(235, 204, 204); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 300px;
}

#submit{
    background-color: #ff4500;
    color: rgb(239, 239, 239);
    border: none;
    

}
#submit:hover{
    background-color:darksalmon;
    color: black;
}
#up-arrow{
    background-image: linear-gradient(to bottom right, rgb(224, 204, 230) , rgb(171, 197, 220));
    float: right;
    border-radius: 50%;
    width: 50px;
    height: 50px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    border-radius: 50%;
}

#up-arrow:hover a{
    color: white;
}